data/
cmake-build-debug/
.idea/
*.so
**/*.o
.config_HW_DEBUG_x64
app
r00*/
Enclave/ThreadLib/
scripts/.ipynb_checkpoints/
native
scripts/__pycache__/
scripts/helpers/__pycache__/
App/Enclave_u.*
Enclave/Enclave_t.*
.config_HW_PRERELEASE_x64

FHE/CMakeLists.txt.user
FHE/CMakeCache.txt
FHE/CMakeFiles
FHE/CMakeScripts
FHE/Testing
FHE/Makefile
FHE/cmake_install.cmake
FHE/install_manifest.txt
FHE/compile_commands.json
FHE/CTestTestfile.cmake
FHE/_deps
FHE/build
